/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Outfit:wght@100&family=Roboto:ital,wght@0,300;1,100&display=swap');
:root{
    /* primary */
    --primary-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);
    /* neutral */
    --dark-blue-main: hsl(217, 54%, 11%);
    --dark-blue-card: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    /* typographie */
    --font-size-p: 18px;
    /* font */ 
    --font-family: Outfit;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-600: 600px;
}

body{
    background-color: var(--dark-blue-main);
}

.center-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
}

.card {    
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 350px;
    height: 600px;
    background-color: var(--dark-blue-card);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img {
    margin-top: 25px;
    border-radius: 10px;
    margin-left: 25px;
    background-image: url("picture/image-equilibrium.jpg");
    background-size: contain;
    width: 300px;
    height: 300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-title {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    font-family: var(--font-family);
}

.title-text{
    font-weight: 600;
    font-family: var(--font-family);
    color: var(--white);
}

.text-card {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 25px;
    font-weight: var(--font-weight-300);
    color: var(--white);
    font-family: var(--font-family);
}

.logo-bottom {
    margin-top: 20px;
    margin-left: 30px;
}

.logo-flex {
    display: flex;
    flex-direction: row;
}

.logo-text {
    color: var(--primary-cyan);
    margin-left: 5px;
    font-family: var(--font-family);
}

.logo-time {
    align-self: center;
    margin-left: 100px;
}

.logo-time-text {
    padding-left: 10px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-300);
    align-self: center;
    font-family: var(--font-family);
    color: var(--primary-blue);
}

.space-bar {
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
    border: solid 1px grey;
    opacity: 0.2;
}

.bottom-owner {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 13px;
    height: 40px;
}

.img-creator {
    background-image: url(picture/owner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 2px solid var(--white);
    border-radius: 50%;
}

.img-creator-text {
    font-weight: var(--font-weight-300);
    color: var(--white);
    font-family: var(--font-family);
    opacity: 0.6;
    align-self: center;
    margin-left: 15px;
}

.creator-name {
    align-self: center;
    margin-left: 5px;
    font-weight: bolder;
    color: var(--white);
    font-family: var(--font-family);
}